@import "common/fonts";
@import "common/reset";
@import "common/text";

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 36px;

    @include mobile {
        padding: 0 12px;
    }
}

.page-enter-active,
.page-leave-active {
    transition: opacity .5s;
}
.page-enter,
.page-leave-to {
    opacity: 0;
}
