/* Colors */
$main-blue: #030953;
$gray: #808080;
$gray-l: #e5e5e5;
$gray-bg: #f7f7f7;
$red: #ef3e4a;

/* Text colors */
$black: #333;
$link: #030953;

/* Transitions */
$text-transition: .25s ease-out;
$color-transition: .2s;
$color-transition-slow: .34s ease-in-out;

/* Easing */
